<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE LIBROS</span>
          <button class="btn btn-success float-end" routerLink="/crear-libro">NUEVO LIBRO</button>
          <button class="btn btn-primary float-end me-2" routerLink="/crear-categoria">NUEVA CATEGORÍA</button>
          <div>
            <table *ngIf="listLibros.length > 0" class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Stock</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let libro of listLibros">
                  <td>{{ libro.titulo }}</td>
                  <td>{{ libro.autor }}</td>
                  <td>{{ libro.Categoria?.nombre }}</td>
                  <td>{{ libro.precio | currency:'S/' }}</td>
                  <td>{{ libro.stock }}</td>
                  <td>
                    <i [routerLink]="['/editar-libro', libro.libro_id]" class="fas fa-edit text-primary"></i>
                    <i (click)="eliminarLibro(libro.libro_id)" class="fas fa-trash text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 style="text-align: start; margin-top: 10px;" *ngIf="listLibros.length == 0">No hay libros para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>